

.header {
  /* menu */
  /* Auto Layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 60px;

  --position: absolute;
  width: 1440px;
  height: 64px;
  --left: 0px;
  --top: 0px;

  background: #000000;
  margin: 0 auto 0;
}

.left {
  width: 225px;
  min-width: 225px;
}

.middle {
  display: flex;
  flex: 1;
}

.right {
  /* item right */


  /* Auto Layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 330px;
  height: 40px;
  right: 60px;
  top: calc(50% - 40px/2);


  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;

}

.menuBox {
  /* menu-item-horizontal/item */


  /* Auto Layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 24px;

  position: static;
  width: 130px;
  height: 64px;
  left: 0px;
  top: 0px;


  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;

}

.menuItem {
  /* title */


/*   position: static;
  width: 50px;
  height: 24px;
  left: 24px;
  top: 20px;
 */
  /* Paragraph/Semibold */
  display: flex;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  font-feature-settings: 'pnum' on, 'lnum' on;

  /* White */

  color: #FFFFFF;


  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 8px;
}


.btnWalletContainer {
  /* address */


  /* Auto Layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 0px 0px 16px;

  position: static;
  width: 202px;
  height: 40px;
  left: 64px;
  top: 0px;

  background: #2C2D3A;
  border-radius: 100px;

  /* Inside Auto Layout */

  flex: none;
  --order: 1;
  flex-grow: 0;
  margin: 0px 24px;  
}

.btnWallet {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;

  width: 186px;
  height: 40px;

  background: #3B3C4E;
  border-radius: 100px;

  margin: 0px 16px;  
}

.btnWalletConnect {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;

  width: 186px;
  height: 40px;
 
  background: #3B3C4E;
  border-radius: 100px;
  margin: 0px 16px;  
}

.btnWalletText {
  display: flex;
  justify-content: center;
  width: 138px;
  height: 24px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;

  font-feature-settings: 'pnum' on, 'lnum' on;

  color: #FFFFFF;
}

